body
{
    background-color: Transparent;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
div
{
    display: block;
    width: 100%;
}
table
{
    margin: 0 auto;
    width: 72%;
    text-align: center;
    border-collapse: collapse;
}
#container
{
    background: #FDFDFD;
}
#header
{
    padding: 36px;
    min-height: 50px;
}
#header > #nav
{
    background: #EFEFEF;
    width: 100%;
    padding: 36px;
    min-height: 50px;
}
#header > #nav > a
{
    background: #EFEFEF;
    width: 100%;
    padding: 36px;
    min-height: 50px;
}
#main
{
    min-height: 360px;
}
div.line
{
    line-height: 120%;
    clear: left;
}
div.invisible
{
    display: none;
    position: fixed;
    width: 360px;
    height: 120px;
    background: #FFFFBB;
    border: 2px solid blue;
    z-index: 1000;
}
div.invisible > input
{
    width: 120px;
}
div.invisible > span
{
    width: inherit;
}
table td
{
    border: 1px solid gray;
}
#footer
{
    clear: both;
    min-height: 25px;
}
#footer > span
{
    font-size: 0.8em;
    text-decoration: underline;
}
#dialog
{
}

#dialog > div.top
{
    margin: 16px auto;
    float: left;
}

#dialog > div.bottom
{
    margin: auto auto 16px auto;
    clear: left;
    float: left;
}
/**/